/* إخفاء شريط التمرير للأقسام الأفقية لتبدو مثل تطبيقات الهواتف */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* تعديل ألوان أزرار مكتبة Swiper لتناسب الموقع */
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 1.5rem !important;
    font-weight: bold;
}
.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 0.5;
}
.swiper-pagination-bullet-active {
    background-color: #3b82f6 !important;
    opacity: 1;
}

/* تنسيق شريط التمرير الرئيسي للصفحة */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #020617; 
}
::-webkit-scrollbar-thumb {
    background: #1e293b; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3b82f6; 
}
